<div class="home-container">
  <div class="main-content animate__animated animate__fadeInUp">
    <div class="thumb-container">
      <img
        src="thumb.png"
        alt="Thumbnail image of profile"
        class="thumb-image"
      />
    </div>
    <div class="text-container">
      <h2 class="page-title">Portfolio Website</h2>
    </div>
  </div>

  <div class="skills-wrapper">
    <div
      id="skills-section"
      class="skills-section animate__animated animate__fadeInUp"
    >
      <p class="skills-title">My Skills</p>
    </div>
    <div class="card-container">
      <mat-card class="example-card animate__animated animate__fadeInUp">
        <mat-card-header>
          <p class="card-title">Angular</p>
        </mat-card-header>
        <img mat-card-image src="angular.png" alt="Angular Logo" />
        <mat-card-content>
          <p>Helps developers build dynamic, single-page web applications.</p>
        </mat-card-content>
        <div style="display: flex; justify-content: center">
          <a href="https://angular.io/docs" target="_blank">
            <button class="card-button">Know More...</button>
          </a>
        </div>
      </mat-card>

      <mat-card class="example-card animate__animated animate__fadeInUp">
        <mat-card-header>
          <p class="card-title">ReactJS</p>
        </mat-card-header>
        <img mat-card-image src="react.png" alt="React Logo" />
        <mat-card-content>
          <p>JS library for building user interfaces, particularly for SPAs.</p>
        </mat-card-content>
        <div style="display: flex; justify-content: center">
          <a
            href="https://reactjs.org/docs/getting-started.html"
            target="_blank"
          >
            <button class="card-button">Know More...</button>
          </a>
        </div>
      </mat-card>

      <mat-card class="example-card animate__animated animate__fadeInUp">
        <mat-card-header>
          <p class="card-title">Java</p>
        </mat-card-header>
        <img mat-card-image src="java.png" alt="Java Logo" />
        <mat-card-content>
          <p>Java is designed to be platform-independent.</p>
        </mat-card-content>
        <div style="display: flex; justify-content: center">
          <a href="https://docs.oracle.com/en/java/" target="_blank">
            <button class="card-button">Know More...</button>
          </a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
