<footer class="footer">
  <div class="footer-links">
    <a routerLink="portofolio-website"> <i class="fas fa-home"></i> Home </a>
    <a routerLink="/portofolio-website/about">
      <i class="fas fa-user"></i> About
    </a>
    <a routerLink="/portofolio-website/contact">
      <i class="fas fa-envelope"></i> Contact
    </a>
    <a [href]="youtubeLink" target="_blank">
      <i class="fab fa-youtube"></i> YouTube
    </a>
    <a [href]="'mailto:' + emailAddress"> <i class="fas fa-at"></i> Email </a>
  </div>
</footer>
